{% extends "./base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/unit.css' %}">
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'profile' %}">{% if user.is_authenticated %}{{ user.username }}{% endif %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản trị</li>
        <li class="breadcrumb-item active" aria-current="page">Người dùng</li>
    </ol>   
    {% include 'student/successmessage.html' %}
    <div class="card">
        <div class="card-header">
            <h5>Danh sách tài khoản</h5>
        </div>
        <form method="post" id="form-checkbox-permissions" action="{% url 'user-permission' %}">
        {% csrf_token %}
        <div class="card-body ">
            <div class="card-title row">
                <div class="col-sm-7">
                    {% comment %} <a href="#" class="btn activebutton">Nhập file</a>
                    <a href="{% url 'user-export-page' %}" class="btn activebutton">Xuất file</a> {% endcomment %}
                    <a href="{% url 'user-form' %}" class="btn btn-primary activebutton">Thêm mới</a>
                    {% comment %} <a href="{% url 'user-permission' %}" class="btn btn-primary activebutton disabled" id="permissions">Phân quyền</a> {% endcomment %}
                    <input type="submit" value="Phân quyền" class="btn btn-primary activebutton disabled" disabled id="permissions">
                    <select id="numberofrow" class="custom-select col-sm-2"  onchange="redictUrlClickOption()">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100" >100</option>
                        <option value="1000">1000</option>
                        <option value="3000">3000</option>
                    </select>
                </div>               
                <div class=" form-inline col-sm-5">
                    <input class="form-control col-sm-12 inline" id="myInput" type="text" onkeyup="searchTwoField()" placeholder="Tìm kiếm...">
                </div>
            </div>
            <div class="table-data">
                <table class="table" id="myTable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">STT</th>
                            <th scope="col">Tên đăng nhập</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Vai trò</th>
                            <th scope="col">Lần cuối</th>
                            <th scope="col">Tạo</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
                <div class="text-center">
                    <nav aria-label="Page navigation ">
                        <ul id="pagination" class="pagination justify-content-center">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>  
        </form>         
    </div>
</div> 
<script type="text/javascript" src="{% static 'js/table.js' %}"></script>
<script type="text/javascript">
    let pathAdmin = '/adminuet';
    let url_api = '';
    let offset = ({{ page }} - 1) * getNumberOfRowInSelections(); //offet để truyền vào api để truy vấn từ ví trí offset
    let limit = {{limit}}; //limt lấy ban đầu từ url page1/limit10/ là giá trị mặc định
    let pathForPage = '/user/page';
    let pathApiGetList = '/user-getlist/';
    let currentPage = {{page}};
    
    // Chạy hàm khởi tạo.
    main(offset, limit);

    // Hàm renderTable() nhận đầu vào là dữ liệu json của fetchJson đã get từ API
    // render ra các dòng và thao tác ở trong bảng dữ liệu.
    function renderTable(mydata){
        let url_update = pathAdmin + '/user-form/';
        let url_delete = pathAdmin + '/user-delete/';
        let user = mydata.data;
        let rowHTML = [];
        for (let [index, data] of user.entries()){
            let tempIndex = index + 1 + limit * ({{ page }} - 1);
            let fullname, email, gender, mssv, major
            for (let [i, dataInProfile] of data.profile.entries()){
                fullname = dataInProfile.lastName + ' ' + dataInProfile.firstName;
                email = dataInProfile.email;
                gender = dataInProfile.gender;
                mssv = dataInProfile.MSSV;
                major = dataInProfile.major;
                
            }
            let last_login = 'Chưa đăng nhập';
            if (data.last_login != null) {
                let last_time = new Date(data.last_login) 
                last_login = last_time.toLocaleString('en-GB', { timeZone: 'Asia/Saigon' });
            }
            let create_time = new Date(data.date_joined);
            date_joined = create_time.toLocaleString('en-GB', { timeZone: 'Asia/Saigon' });
            let row = '<tr>'
                    + '<td><input type="checkbox" name="userID" onchange="getValueCheckBox()" value=\" ' + data.id + '\"></td>'
                    + '<td>' + tempIndex + '</td>'
                    + '<td>' + encodeHTML(data.username) + '</td>'
                    + '<td>' + encodeHTML(fullname) + '</td>'
                    + '<td>' + encodeHTML(data.role) + '</td>'
                    + '<td>' + last_login + '</td>'
                    + '<td>' + date_joined + '</td>'
                    + '<td><a href=\"' + url_update  + data.id + "\"> Sửa </a> | "
                    + "<a onclick=\"checkArgeeDelete()\" href=\"" + url_delete  + data.id + "\"> Xóa</a></td>"
                    + '</tr>';
            rowHTML.push(row);
        }
        document.getElementById("table-body").innerHTML += rowHTML.join("");
    }

    checkArgeeDelete = function(){
        let msg = confirm("Xóa dữ liệu này sẽ mất hết các dữ liệu khác liên quan.\nBạn chắc chắn muốn xóa?");
        if (!msg) {
            event.preventDefault();
        }
    }

    function getValueCheckBox(){
        let array = [];
        let checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
        if (0 < checkboxes.length){
            document.getElementById('permissions').classList.remove('disabled');
            document.getElementById('permissions').removeAttribute("disabled");
            for (let i = 0; i < checkboxes.length; i++) {
                array.push(checkboxes[i].value);
            }
        }
        if (0 == checkboxes.length){
            document.getElementById('permissions').classList.add('disabled');
            document.getElementById('permissions').setAttribute("disabled", true);
        }
    }
</script>
<script type="text/javascript" src="{% static 'js/searchtwofield.js' %}"></script>
{% comment %} <script type="text/javascript" src="{% static 'js/sort.js' %}"></script> {% endcomment %}
{% endblock %}