{% extends "../bootstrap.html" %}
{% load bootstrap4 %}
{% block bootstrap4_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/baseadmin.css' %}">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom ">
    <a class=" my-0 mr-md-auto font-weight-normal navbar-brand">
        <img src="{% static 'images/logo2_new.png' %}" alt="My image">
        Hệ thống dự báo và tư vấn kết quả học tập
    </a>
    <nav class="my-2 my-md-0 mr-md-3">
        <a id="statistical" class="p-2 text-muted" href="{% url 'statistical' %}">Thống kê</a>
        <a id="scoreforecast" class="p-2 text-muted" href="{% url 'scoreforecast' %}">Dự báo kết quả học tập</a>
        <a id="suggestioncourse" class="p-2 text-muted" href="{% url 'suggestioncourse' %}">Gợi ý môn học</a>
        <a id="" class="p-2 text-muted" href="#">Trợ giúp</a>
    </nav>
    <div class="dropdown d-inline pr-1">
        <a href="#" class="btn activebutton">
        {% if user.is_authenticated %}
            {{ user.username }}
        {% endif %}
        </a>
            <div class="dropdown-content">
                <a id="profilee" href="{% url 'profile' %}" class="p-2 text-muted">Hồ sơ</a>
                <a id="" class="p-2 text-muted" href="{% url 'logout' %}">Đăng xuất</a>
            </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/basestudent.js' %}"></script>
{% block content %}(no content){% endblock %}
{% endblock %}